{% extends 'thesis/base.html' %}

{% block script %}

    <script>
        $(document).ready(function () {
            alert('Supervisors and Examiners for each students appearing in finals can be changed.')
            $("#submit").click(function (event) {
                if ($('input[type="checkbox"]:checked').length > 0) {
                    alert('Successfully selected students appearing for final. Make sure other fields are filled.. ');
                    return true;
                } else {
                    alert('Please select students..');
                    return false;
                }
            })
        });

    </script>

{% endblock %}

{% block body %}

    <form class="form-horizontal" method='POST' , action="">
        {% csrf_token %}
        <fieldset>
            <!-- Form Name -->
            {#            Inputs#}
            <div id="add">
                <h2><strong>Finals Thesis Defense List</strong></h2>
                <!-- Text input-->

                <h3 style="text-align: center">Add Notice Details</h3>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="giftID">Notice Publication Date</label>
                    <div class="col-md-4">
                        {{ form.CurrentDate }}
                    </div>
                </div>

                <h2 style="margin-left:-300px;"> Add Committee Members</h2><br>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="giftID">Chairman</label>
                    <div class="col-md-4">
                        {{ form.Chairman }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="giftID">Member</label>
                    <div class="col-md-4">
                        {{ form.Member }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="giftID">Member Secretary</label>
                    <div class="col-md-4">
                        {{ form.MemberSecretary }}
                    </div>
                </div>


                {#            Selection of students appearing for midtems.#}
                <h2><strong>Select Students Appearing for Finals. </strong></h2>
                <div class="col-lg-8">
                    <table style="margin-left: 15%;" class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">S.N.</th>
                            <th scope="col">Name</th>
                            <th scope="col">Roll Number</th>
                            <th scope="col">Thesis Title</th>
                            <th scope="col">Supervisor</th>
                            <th scope="col">Examiner</th>
                            <th scope="col">Final</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for f in formset %}

                            <tr>
                                <th scope="row"> {{ forloop.counter }} </th>
                                <td>{{ f.name }}</td>
                                <td>{{ f.rollNumber }}</td>
                                <td>{{ f.thesisTitle }}</td>
                                <td>{{ f.supervisor }}</td>
                                <td>{{ f.examiner }}</td>
                                <td>{{ f.final }}</td>
                                <td>{{ f.id }}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </div>
                {{ formset.management_form }}
                <button id="submit" type="submit" name="submit" style="margin-left:400px;" class="btn btn-primary btn-lg">Submit
                </button>
            </div>
        </fieldset>

    </form>

    </div>

{% endblock %}


