{% extends "admin/index.html" %}
{% load i18n static %}
{% load static %}

{% block title %}About | {{ site_title|default:_('MSc Teachers & Experts Database') }}{% endblock %}



{% block content %}
    <h2>About</h2>
    <h2>Introduction</h2>
    <p>
        This Project 'MSc Teachers & Experts Database Management System and Thesis Document Generation System' is accompolished by 072 BCT & 073 BCT batch under Dr.
        Aman Shakya.
    </p>
<br>
    <h2>Developers</h2>

    <h2>072 BCT</h2>
    <p>
        1. Alina Devkota (072 BCT 504) 072bct504@pcampus.edu.np </p>
    <p> 2. Spandan Pykurel (072 BCT 539) 072bct539@pcampus.edu.np</p>
    <p> 3. Saloni Shikha (072 BCT 531) 072bct531@pcampus.edu.np</p>
    <p> 4. Sushant Gautam (072 BCT 544) 072bct544@ioe.edu.np
    <p>&nbsp;&nbsp;&nbsp;&nbsp;email@sushant.info.np, 9860043019, 9818342334</p>

    <br>
    <h2>073 BCT</h2>
    <p>
        1. Ashim Sharma (073 BCT 508) 073bct508.ashim@pcampus.edu.np </p>
    <p> 2. Rebati Raman Gaire (073 BCT 533) 073bct533.rebati@pcampus.edu.np</p>
    <p> 3. Ronast Subedi (073 BCT 535) 073bct535.ronast@pcampus.edu.np</p>
    <p> 4. Shishir Subedi (073 BCT 541) 073bct541.shishir@pcampus.edu.np


{% endblock %}


{% block sidebar %}{% endblock %}
