{% extends "admin/index.html" %}
{% load i18n static %}
{% load static %}

{% block title %}Export | {{ site_title|default:_('MSc Teachers & Experts Database') }}{% endblock %}



<caption>
    <a href="{{ app.app_url }}" class="section"
       title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
</caption>



{% block content %}
    <h1> Clone Assignment to New Year </h1>


    {% if log  is not None %}
        <div>
            <h2> Action Completed! </h2>

            <p>Return to <a href="/admin/"> Home </a></p>
            <br>
            <h3> Year Clone Log: </h3>
            {{ log | safe}}

        </div>
    {% else %}


        <p> This tool clones all the subject teachers assignment from a year to same/new one. Batches/Year are automatically created as per need.</p>

        <form method="POST" class="post-form">{% csrf_token %}
                        <br>
            <p> Year Not found? <a href="/admin/college/year/add"> Add New Year </a></p>
            {{ form.as_p }}
            <p> Leave Program / Semester type blank to select all.</p>
            <button type="submit" class="save btn btn-default">Clone</button>


        </form>

    {% endif %}



{% endblock %}

{% block sidebar %}{% endblock %}
